AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

S3_BUCKET_NAME=
S3_INTERNAL_ENDPOINT=
S3_EXTERNAL_ENDPOINT=

ACCOUNT_ID=
SQS_BASE_URL=
SQS_OPTIMIZER_QUEUE_NAME=
SQS_CONTENT_AUTH_QUEUE_NAME=

LOCALSTACK_AUTH_TOKEN=
LOCALSTACK_CORS_ORIGIN=